user_uuid="acbb19c1-fb0e-4801-a8cd-ba6971ffcee0"
bucket_name="terraform-bootcamp-2023-scal"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
content_versions=1